@charset "UTF-8";

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
 
.topStory{
  height: auto;
  border-width: thick;
  border-style: outset;
  border-color:#52783e;
  background-color:#E9D916;
  padding: inherit;
}
   
.mainStory{
  width: 100%;
  padding: 20px;
  background: url()0 -50px;
}
    
.mainImage{
  width: 100%;
  padding: 20px;
}
    
.story1 {
  width: 100%;
  padding: 20px;
}
    
.story2 {
  width: 100%;
  padding: 20px;
  background: url(img/penneys.jpg)0 -80px;   
}
    
.story3 {
  width: 100%;
  padding: 20px;
  background: url(img/pub.jpg)0 -80px;
}

.story4 {
  width: 100%;
  padding: 20px;
  background: url(img/nandos.jpg)0 -80px;
}

.story5 {
  width: 100%;
  padding: 20px;
  background: url(img/gunshot.jpg)0 -80px;
}
    
.sideStory {
  width: 100%;
  padding: 20px;
  border-width: thick;
  border-style: double;
  border-color:#E9D916;
  background-color:#52783e;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  font-size: 18px;
}

.signUp{
  min-height: 250px;
  border-width: thick;
  border-style: double;
  border-color:#52783e;
  background-color:#E9D916;
}    
    

.signUp input {
    margin: 5px 250px;
    border-radius: 20px;
    text-align: center;
    width: 50%;
    height: 30px;
    font-size: 12px;
}

/* Style the body */
body {
  height: 125vh;
  background-image: url(img/gossip.PNG);
  background-size: cover;
  font-family: Arial;
  margin: 0;
  margin-top: 80px;
}

/* Header/logo Title */
.header img {
    max-height: 50%;
    max-width: 10%;
}

.header * {
    display: inline;
}

.header {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  background: #52783e;
  color: floralwhite;
  text-shadow: 2px 2px #FF0000;
  display: flex;
}



/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #E9D916;
}

/* Style the navigation bar links */
.navbar a {
  color: black;
  padding: 14px 20px;
  text-decoration: none;
  width: 100%;
  text-align: right;
  font-size: 30px;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
  min-height: 800px;;
}

/* Sidebar/left column */
.side {
  flex: 30%;
  background-color:#E9D916;
  padding: 20px; 
}

.side h1 {
    text-align: center;
    background-color:#52783e;
    color:#E9D916;
    text-shadow: 2px 2px #52783e;
}

/* Main column */
.main {
  flex: 70%;
  background-color:#E9D916;
  padding: 20px;
}

.main h2 {
    border-style: solid;
    border-color: black;
    text-align: center;
    font-size: 60px;
    color:#E9D916;
    text-shadow: 2px 2px #52783e;
    background-color: #52783e;
}

/* Footer */
.footer {
  text-align: center;
  background: #52783e;
  bottom:auto;
  width: 100%;
  height: 100px;
}

img.one {
  width: 100%;
  height: 100%;
}

img { 
  width: 100%;
  height: auto;
}

@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}