* {
  box-sizing: border-box;
}
 
.topStory{
  height: auto;
  border-width: thick;
  border-style: double;
  border-color:#BC08B0;
  background-color:#E9D916; 
}
   
.mainStory{
  width: 100%;
  padding: 20px;
  background: url()0 -50px;
}
    
.mainImage{
  width: 100%;
  padding: 20px;
  background: url(img/ShannonAirport.jpg)0 -50px;
}
    
.sideStory1 {
  width: 100%;
  padding: 20px;
  background: url(img/kylie.jfif)0 -80px;
}
    
.sideStory2 {
  width: 100%;
  padding: 20px;
  background: url(img/evangeline.jpg)0 -80px;   
}
    
.sideStory3 {
  width: 100%;
  padding: 20px;
  background: url(img/tom.jpg)0 -80px;
}
    
.sideStory {
  width: 100%;
  padding: 20px;
  border-width: thick;
  border-style: double;
  border-color:#E9D916;
  background-color:#BC08B0;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  font-size: 18px;
}

.signUp{
  min-height: 250px;
  border-width: thick;
  border-style: double;
  border-color:#BC08B0;
  background-color:#E9D916;
}    
    

.signUp input {
    margin: 5px 250px;
    border-radius: 20px;
    text-align: center;
    width: 50%;
    height: 30px;
    font-size: 12px;
}

/* Style the body */
body {
  height: 125vh;
  background-image: url(img/gossip.PNG);
  background-size: cover;
  font-family: Arial;
  margin: 0;
  margin-top: 80px;
}

/* Header/logo Title */
.header img {
    max-height: 50%;
    max-width: 10%;
}

.header * {
    display: inline;
}

.header {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  background: #BC08B0;
  color: floralwhite;
  text-shadow: 2px 2px #FF0000;
  display: flex;
}



/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #E9D916;
}

/* Style the navigation bar links */
.navbar a {
  color: black;
  padding: 14px 20px;
  text-decoration: none;
  width: 100%;
  text-align: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
  min-height: 800px;;
}

/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
  border-width: thick;
  border-style: double;
  border-color:#E9D916; 
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Footer */
.footer {
  text-align: center;
  background: #BC08B0;
  position: absolute;
  bottom:auto;
  width: 100%;
  height: 100px;
}

img.one {
  width: 100%;
  height: 100%;
}

img { 
  width: 100%;
  height: auto;
}

@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}