.container {
display: grid;
grid-gap: 3px;
grid-template-columns: 1;
grid-template-rows: [header] 20% [navigation] 20% [content] 600px [footer] 20%;
}

.header {
grid-row-column: 1/-1;
    background-color: blueviolet;
}

.navigation {
grid-row-column : 1/-1;
    background-color: aqua;
}

.content {
grid-row-column: 1/-1;
    background-color: deeppink;
}

.footer {
grid-row-column: 1/-1;
    background-color: fuchsia;
}

